<!--The content below is only a placeholder and can be replaced.-->
<h2>When you have an alert in a tight or small width screens</h2>
<ng-alert [(message)]="message" [dismissable]="true"></ng-alert>

<h2>When you want the close button to be times</h2>
<ng-alert [(message)]="message" [dismissable]="true"  [closeType]="closeTypes.TIMES"></ng-alert>

<h2>Message Types</h2>
<p>
  <button (click)="showMessage('Sample message from click info', messageTypes.info)">Show Message Info</button>  
  <button (click)="showMessage('Sample message alert from click warning', messageTypes.warning)">Show Message Warning</button>  
  <button (click)="showMessage('Sample message alert from click success', messageTypes.success)">Show Message Success</button>  
  <button (click)="showMessage('Sample message alert from click error', messageTypes.error)">Show Message Error</button>  
</p>

<h2>With Title </h2>
<ng-alert [(message)]="message2" [dismissable]="true"  [closeType]="closeTypes.TIMES"></ng-alert>

<h2>App Level Alert --> which means you want all your errors to be at one central location, usually the top of your app</h2>
<p>
  Just simply place the <code>ng-alert</code> at the top of your page and use the exposed interface.
  <br>
  <button (click)="showMessage('Sample message alert from click')">Show Message</button>
</p>

<h2>Supports HTML content</h2>
<p>
  <button (click)="showMessage('<b>Sample</b> bold <ul> <l1>message</li> <li>alert</li> <li>from click</li>')">Show Message HTML</button>  
</p>

